* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffeab7;
}

header {
  position: absolute;
  top: 0; right: 0; left: 0;
  width: 200px;
  height: 50px;
  background-color: #ffd36d;
}

canvas {
  position: absolute;
  top: 50px; right: 0; left: 0;
  width: 200px;
  height: 200px;
}
