* {
  margin: 0;
  padding: 0;
}
.csrPtr {
  cursor: pointer;
}
.hidden {
  visibility: hidden;
}

body {
  background-color: #ffeab7;
  font-family: sans-serif;
  font-size: 12px;
}

header {
  position: absolute;
  top: 0; right: 0; left: 0;
  width: 200px;
  height: 50px;
  background-color: #ffd36d;
}

header > p {
  margin: 5px;
}

#btnCfg {
  position: absolute;
  top: 5px; right: 5px;
}

input[type="number"] {
  width: 40px;
}

canvas, #btnBig {
  position: absolute;
  top: 50px; right: 0; left: 0;
  width: 200px;
  height: 200px;
}

#notice {
  position: absolute;
  top: 0; bottom: 0;
  margin: auto 0;
  height: 12px;
  width: 200px;
  
  text-align: center;
}

#dspCfg {
  position: absolute;
  top: 50px; left: 0;
  width: 200px;
  height: 200px;
  background-color: #ffeab7;
}
